<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Stocks
      </nb-card-header>
      <nb-card-body>
        <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input" (keyup.enter)="stockSearch($event.target.value)" required [(ngModel)]="nameTicker">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> Name
                </th>
                <th> Ticker
                </th>
                <th> Current Price
                </th>
                <th> Open Price

                </th>
                <th> Time
                </th>
                <th> Actions
                </th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let stock of stocks | async">
                <td>{{stock.name}}</td>
                <td>{{stock.ticker}}</td>
                <td>{{stock.currentPrice}}</td>
                <td>{{stock.openPrice}}</td>
                <td>{{stock.time | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>
                  
                    <button (click)="stockDetails(stock.ticker)" class="btn btn-info" style="margin-left: 10px">Details & Buy</button>
                    <!-- <button (click)="buyStock(stock.ticker)" class="btn btn-success" >Buy</button> -->
                    
                </td>
              </tr>
              <tr *ngFor="let stock of stocks1 | async">
                <td>{{stock.name}}</td>
                <td>{{stock.ticker}}</td>
                <td>{{stock.currentPrice}}</td>
                <td>{{stock.openPrice}}</td>
                <td>{{stock.time | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>
                  
                    <button (click)="stockDetails(stock.ticker)" class="btn btn-info" style="margin-left: 10px">Details & Buy</button>
                    <!-- <button (click)="buyStock(stock.ticker)" class="btn btn-success" >Buy</button> -->
                    
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
