<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        股票
      </nb-card-header>
      <nb-card-body>
        <!-- <h5 class="grid-h">Stacked to horizontal</h5>
        <div class="row show-grid"> -->
          <!-- <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
          <div class="col-md-1">
            <div>.col-md-1</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-8">
            <div>.col-md-8</div>
          </div>
          <div class="col-md-4">
            <div>.col-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-4">
            <div>.col-md-4</div>
          </div>
          <div class="col-md-4">
            <div>.col-md-4</div>
          </div>
          <div class="col-md-4">
            <div>.col-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>.col-md-6</div>
          </div>
          <div class="col-md-6">
            <div>.col-md-6</div>
          </div>
        </div>

        <h5 class="grid-h">Mobile and desktop</h5>
        <div class="row show-grid">
          <div class="col-12 col-md-8">
            <div>.col-12 .col-md-8</div>
          </div>
          <div class="col-6 col-md-4">
            <div>.col-6 .col-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-6 col-md-4">
            <div>.col-6 .col-md-4</div>
          </div>
          <div class="col-6 col-md-4">
            <div>col-6 .col-md-4</div>
          </div>
          <div class="col-6 col-md-4">
            <div>.col-6 .col-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-6">
            <div>.col-6</div>
          </div>
          <div class="col-6">
            <div>.col-6</div>
          </div>
        </div>

        <h5 class="grid-h">Mobile, tablet, desktop</h5>
        <div class="row show-grid">
          <div class="col-12 col-sm-6 col-md-8">
            <div>.col-12 .col-sm-6 .col-md-8</div>
          </div>
          <div class="col-6 col-md-4">
            <div>.col-6 .col-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-6 col-sm-4">
            <div>.col-6 .col-sm-4</div>
          </div>
          <div class="col-6 col-sm-4">
            <div>.col-6 .col-sm-4</div>
          </div>
          <div class="col-6 col-sm-4">
            <div>.col-6 .col-sm-4</div>
          </div>
        </div>

        <h5 class="grid-h">Column wrapping</h5>
        <div class="row show-grid">
          <div class="col-9">
            <div>.col-9</div>
          </div>
          <div class="col-4">
            <div>.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.
            </div>
          </div>
          <div class="col-6">
            <div>.col-6<br>Subsequent columns continue along the new line.</div>
          </div>
        </div>

        <h5 class="grid-h">Responsive column resets</h5>
        <div class="row show-grid">
          <div class="col-6 col-sm-3">
            <div>.col-6 .col-sm-3
              <p>Resize your viewport or check it out on your phone for an example.</p>
            </div>
          </div>
          <div class="col-6 col-sm-3">
            <div>.col-6 .col-sm-3</div>
          </div>
          <div class="col-6 col-sm-3">
            <div>.col-6 .col-sm-3</div>
          </div>
          <div class="col-6 col-sm-3">
            <div>.col-6 .col-sm-3</div>
          </div>
        </div>

        <h5 class="grid-h">Offsetting columns</h5>
        <div class="row show-grid">
          <div class="col-md-4">
            <div>.col-md-4</div>
          </div>
          <div class="col-md-4 offset-md-4">
            <div>.col-md-4 .offset-md-4</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-3 offset-md-3">
            <div>.col-md-3 .offset-md-3</div>
          </div>
          <div class="col-md-3 offset-md-3">
            <div>.col-md-3 .offset-md-3</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6 offset-md-3">
            <div>.col-md-6 .offset-md-3</div>
          </div>
        </div> -->

        <!-- <h5 class="grid-h">今日</h5> -->
        <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> name
                </th>
                <th> currentPrice
                </th>
                <th> openPrice
                </th>
                <th> time
                </th>
                <th> Actions
                </th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let stock of stocks | async">
                <td>{{stock.ticker}}</td>
                <td>{{stock.currentPrice}}</td>
                <td>{{stock.openPrice}}</td>
                <td>{{stock.time}}</td>
                <td>
                  <!-- <button (click)="deleteStock(stock.ticker)" class="btn btn-danger">Delete</button> -->
                    <button (click)="stockDetails(stock.ticker)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
