<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        股票
      </nb-card-header>
      <nb-card-body>
        <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> name
                </th>
                <th> currentPrice
                </th>
                <th> openPrice
                </th>
                <th> time
                </th>
                <th> Actions
                </th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let stock of stocks | async">
                <td>{{stock.ticker}}</td>
                <td>{{stock.currentPrice}}</td>
                <td>{{stock.openPrice}}</td>
                <td>{{stock.time}}</td>
                <td>
                  <!-- <button (click)="deleteStock(stock.ticker)" class="btn btn-danger">Delete</button> -->
                    <button (click)="stockDetails(stock.ticker)" class="btn btn-info" style="margin-left: 10px">Details</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
