<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        My Funds
      </nb-card-header>
      <nb-card-body>
        <label class="search-label" for="search">Search:</label> 
        <input nbInput  id="search" class="search-input">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th> Code
                </th>
                <th> Subscription Price
                </th>
                <th> Amount
                </th>
                <th> Actions
                </th>
              </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let stockhold of stockhold | async">
                <td>{{stockhold.code}}</td>
                <td>{{stockhold.amount}}</td>
                <td>{{stockhold.subscriptionPrice}}</td>
                <td>
                  <!-- <button (click)="deleteStock(stock.ticker)" class="btn btn-danger">Delete</button> -->
                    <button (click)="stockDetails(stock.ticker)" class="btn btn-info" style="margin-left: 10px">Price Trend & Sell</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
