<div class="col-md-12 ">
  <nb-card class="headings-card">
    <nb-card-header>
      <div class="row">
      <h1>&nbsp;&nbsp;{{stock.name}}</h1>
        <form class="form-inline" (ngSubmit)="onSubmit()">
          <div class="col-sm-6">
            <div class="form-group">
              <input type="text" nbInput fullWidth id="sellAmount" placeholder="$" name="sellAmount" required [(ngModel)]="sellAmount">
            </div>  
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <button nbButton type="submit"  status="info" >Sell</button>
            </div>  
          </div>
          

          <div *ngIf="sellSuccessMessage" class="success-message">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sell successfully!
          </div>
      </form>
    </div>
    </nb-card-header>
    <nb-card-body>
      <div class="header">
        <div>
          <h4>Ticker</h4>
        </div>

        <div class="detail">
          {{stock.ticker}}
        </div>
      </div><div class="header">
        <div>
          <h4>Current Price</h4>
        </div>

        <div class="detail">
          {{stock.currentPrice}}
        </div>
      </div>
      <div class="header">
        <div>
          <h4>OpenPrice</h4>
        </div>

        <div class="detail">
          {{stock.openPrice}}
        </div>
      </div>
      <div class="header">
        <div>
          <h4>High Price</h4>
        </div>

        <div class="detail">
          {{stock.highPrice}}
        </div>
      </div>
      <div class="header">
        <div>
          <h4>Low Price</h4>
        </div>

        <div class="detail">
          {{stock.lowPrice}}
        </div>
      </div>
      <div class="header">
        <div>
          <h4>Close Price</h4>
        </div>

        <div class="detail">
          {{stock.closePrice}}
        </div>
      </div>
      <div class="header">
        <div>
          <h4>Volume</h4>
        </div>
        <div class="detail">
          {{stock.vol}}
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="header">
        <div>
          <h4>History Trend</h4>
        </div>
      </div>
      <div>
        <div>
          <chart type="line" [data]="data" [options]="options"  class="chart-container"></chart>
       </div>
      </div>
    </nb-card-footer>
  </nb-card>
  
