<nb-card >
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Assets" >
      
      <div class="chart-container">
        <div class="summary-container">
          <div >
            <div>Total Assets</div>
            <div class="h5">{{assets.totalAssets}}</div>
          </div>
          <div >
            <div>Stock Assets</div>
            <div class="h5">{{assets.stockAssets}}</div>
          </div>
          <div >
            <div>Fund Assets</div>
            <div class="h5">{{assets.fundAssets}}</div>
          </div>
          <div >
            <div>Balance</div>
            <div class="h5">{{assets.balance}}</div>
          </div>
        </div>
      </div>
    </nb-tab>
        
  </nb-tabset>
  <nb-card-footer>
    <div class="row">
      <form class="form-inline" (ngSubmit)="onSubmit()">
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" nbInput fullWidth id="amount" placeholder="$" name="amount" required [(ngModel)]="amount">
          </div>  
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <button nbButton type="submit" >Transfor Out</button>
          </div>  
        </div>
      </form>

      <form class="form-inline" (ngSubmit)="onSubmit()">
        <div class="col-sm-4">
          <div class="form-group1">
            <input type="text" nbInput fullWidth id="amount" placeholder="$" name="amount" >
          </div>  
        </div>
        <div class="col-sm-2">
          <div class="form-group1">
            <button nbButton type="submit"  status="success" >Transfor In</button>
          </div>  
        </div>
      </form>
    </div>
  </nb-card-footer>
</nb-card>



