  <div class="col-md-6 col-xxxl-12">
    <nb-card size="medium" class="headings-card">
      <nb-card-header>
        <h1>{{stock.name}}</h1>
      </nb-card-header>
      <nb-card-body>
        <div class="header">
          <div>
            <h4>Ticker</h4>
          </div>

          <div class="detail">
            {{stock.ticker}}
          </div>
        </div><div class="header">
          <div>
            <h4>CurrentPrice</h4>
          </div>

          <div class="detail">
            {{stock.currentPrice}}
          </div>
        </div>
        <div class="header">
          <div>
            <h4>OpenPrice</h4>
          </div>

          <div class="detail">
            {{stock.openPrice}}
          </div>
        </div>
        <div class="header">
          <div>
            <h4>HighPrice</h4>
          </div>

          <div class="detail">
            {{stock.highPrice}}
          </div>
        </div>
        <div class="header">
          <div>
            <h4>LowPrice</h4>
          </div>

          <div class="detail">
            {{stock.lowPrice}}
          </div>
        </div>
        <div class="header">
          <div>
            <h4>ClosePrice</h4>
          </div>

          <div class="detail">
            {{stock.closePrice}}
          </div>
        </div>
        <div class="header">
          <div>
            <h4>Vol</h4>
          </div>

          <div class="detail">
            {{stock.vol}}
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
